{% extends 'layout.twig' %}
{% block content %}
<div style="height:100px;"></div>
<div class="container">
    <div class='row'>
        <div class='col-sm-4 col-md-offset-4'>
        		<div class='form-row'>
              <div class='col-xs-12 form-group required'>
              {% if err == 'oldpass' %}
                	<div class="x_content bs-example-popovers">
                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                  </button>
                  รหัสผ่านเดิมไม่ถูกต้อง กรุณาระบุรหัสผ่านเดิมอีกครั้ง
                </div>
				</div>
			  {% endif %}
			  {% if err == 'notmatch' %}
                	<div class="x_content bs-example-popovers">
                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                  </button>
                  รหัสผ่านใหม่และรหัสยืนยันไม่ตรงกัน กรุณาตรวจสอบอีกครั้ง
                </div>
				</div>
			  {% endif %}
			  {% if err == 'database' %}
                	<div class="x_content bs-example-popovers">
                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                  </button>
                  เกิดข้อผิดพลาดจากฐานข้อมูล กรุณาลองใหม่อีกครั้ง
                </div>
				</div>
			  {% endif %}
			  {% if err == 'success' %}
                	<div class="x_content bs-example-popovers">
                <div class="alert alert-success alert-dismissible fade in" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                  </button>
                  การเปลี่ยนแปลงรหัสผ่านสำเร็จ ท่านสามารถเข้าสู่ระบบด้วยรหัสผ่านใหม่ในครั้งต่อไป
                </div>
				</div>
			  {% endif %}
			  {% if err == 'tooshort' %}
                	<div class="x_content bs-example-popovers">
                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                  </button>
                  รหัสผ่านใหม่สั้นเกินไป รหัสผ่านจะต้องมีความยาวอักขระตั้งแต่ 6 ตัวอักษรขึ้นไป และจะต้องเป็นตัวอักษรภาษาอังกฤษและตัวเลขเท่านั้น
                </div>
				</div>
			  {% endif %}
              </div>
            </div>
            <h1 style="margin-left:20px;"><i class="fa fa-edit"></i> เปลี่ยนรหัสผ่าน</h1>
          <form method="POST">
            <div class='form-row'>
              <div class='col-xs-12 form-group required'>
                <label class='control-label'>รหัสผ่านเดิม</label>
                <input class='form-control' name="oldPass" size='4' type='password' required>
              </div>
            </div>
            <div class='form-row'>
              <div class='col-xs-12 form-group card required'>
                <label class='control-label'>รหัสผ่านใหม่</label>
                <input class='form-control' name="newPass" size='4' type='password' required>
              </div>
            </div>
             <div class='form-row'>
              <div class='col-xs-12 form-group card required'>
                <label class='control-label'>ยืนยันรหัสผ่านใหม่</label>
                <input class='form-control' name="confirmPass" size='4' type='password' required>
              </div>
            </div>    
           
            <div class='form-row'>
              <div class='col-md-12 form-group'>
                <button class='form-control btn btn-primary submit-button' type='submit'><i class="fa fa-save"></i> บันทึกการเปลี่ยนรหัสผ่าน</button>                
              </div>
            </div>
          </form>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block script %}
<script>
$(document).ready(function(){
	$(".alert").delay(5000).slideUp(700, function() {
    		$(this).alert('close');
	});
});
</script>
{% endblock %}